.backgroundLogo {
    background: url("social-logo.png");
    height: 230px;
    margin: 0 200px 0 200px;
    animation: moveBackground 120s linear infinite;
}

@keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 0;
    }
  }

